<div class="card mt-3">
    <div class="card-header">สรุปยอดขายรายเดือน</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <select class="form-control" [(ngModel)]="year">
                    @for (y of ddlYear; track $index) {
                        <option [value]="y">
                            {{ y }}
                        </option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" (click)="fetchData()">
                    <i class="fa fa-search"></i>
                    แสดงรายการ
                </button>
            </div>
        </div>

        <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th>เดือน</th>
                    <th width="100px" class="text-end">จำนวนรวม</th>
                </tr>
            </thead>
            <tbody>
                @for (item of data; track $index) {
                    <tr>
                        <td>{{ item.month }}</td>
                        <td class="text-end">{{ item.amount.toLocaleString('th-TH') }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
